
	<ul id="Nav">
		<li id="About"><%= link_to "ABOUT", about_path %></li>
		<li id="Jon"><%= link_to "JON", root_path %></li>
		<li id="Roby"><%= link_to "ROBY", root_path %></li>
		<li id="Notes"><%= link_to "NOTES", posts_path %></li>
	</ul>

	

